.input-field {
    width: 100%;
}
.no-data-container {
    padding: 10%;
    min-height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #c4c6d0;
}